[Unit]
Description=Rocks Post-Configuration Scripts
After=sshd.service
After=foundation-mysql.service
Wants=foundation-mysql.service

[Service]
Type=oneshot
ExecStart=/etc/rc.d/rc.rocksconfig after-rc

[Install]
WantedBy=multi-user.target
