[Unit]
Description=Rocks Pre-Configuration Scripts
Before=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/etc/rc.d/rc.rocksconfig before-rc

[Install]
WantedBy=multi-user.target
